---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[[:alnum:]_]+>'
    Priority: 1
  - Regex: '^<dtk'
    Priority: 2
  - Regex: '^<D'
    Priority: 3
  - Regex: '^\"'
    Priority: 4
---
