---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-using,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length

WarningsAsErrors: ''
HeaderFilterRegex: '(src|include)/.*\.h$'
FormatStyle: file
